@import '../variables.less';

.user {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: minmax(60px, auto);
  align-items: center;
  color: @brand-indigo;
  background-color: @brand-peach-30;
  min-height: 60px;
  margin-bottom: 0.2%;
  transition: background-color ease;
  cursor: pointer;

  &:hover {
    background-color: @white;
  }

  &__details {
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: @brand-indigo;

    & > * {
      pointer-events: none;
    }

    &__name {
      transition: transform 150ms ease-out;
    }

    &:hover &__name {
      transform: translateX(10px);
    }

    &__arrow {
      color: @brand-indigo;
      margin-right: 3%;
      transition: 300ms ease-out;
      -webkit-transition: 300ms ease-out;
      -moz-transition: 300ms ease-out;
      -ms-transition: 300ms ease-out;
      -o-transition: 300ms ease-out;

      &.flip {
        transition: 300ms ease-out;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -ms-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

    &__action {
      fill: @brand-indigo;
      transition: all 300ms ease-out;
      -webkit-transition: all 100ms ease-out;
      -moz-transition: all 300ms ease-out;

      &:hover {
        transform: scale(1.5);
      }

      &.minus {
        fill: @brand-red;
      }

      &.check {
        fill: green;
      }
    }
  }

  &__form {
    padding: 0 calc(36px + 3%);

    &__input {
      background-color: transparent;
      border-style: none;
      font-size: 1em;
      padding: 5px;
      padding-left: 0;
      outline: 0;
    }
  }
}
