@import '../variables.less';

.navbar {
  display: flex;
  align-items: center;
  background-color: @brand-peach;
  height: 50px;
  padding: 0 20px;

  &__link {
    font-size: 1.2rem;
    font-weight: 600;
    color: @brand-indigo;
    text-decoration: none;
    transition: opacity ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
