@import '../variables.less';

.task {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: minmax(40px, auto);
  align-items: center;
  color: @brand-indigo;
  min-height: 30px;
  transition: background-color ease;
  cursor: pointer;

  &:hover {
    background-color: @white;
  }

  &__details {
    display: flex;
    align-items: center;
    padding-left: 50px;
    text-decoration: none;
    color: @brand-indigo;

    & > * {
      pointer-events: none;
    }

    &__description {
      font-size: 0.9em;
      transition: transform 150ms ease-out;
    }

    &:hover &__description {
      transform: translateX(5px);
    }

    &__description.completed {
      text-decoration: line-through;
      opacity: 0.5;
      transform: none !important;
    }

    &__arrow {
      color: @brand-indigo;
      margin-right: 3%;
      transition: 300ms ease-out;
      -webkit-transition: 300ms ease-out;
      -moz-transition: 300ms ease-out;
      -ms-transition: 300ms ease-out;
      -o-transition: 300ms ease-out;

      &.flip {
        transition: 300ms ease-out;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -ms-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

    &__action {
      height: 10px;
      width: 15px;
      fill: @brand-red;
      transition: all 300ms ease-out;
      -webkit-transition: all 100ms ease-out;
      -moz-transition: all 300ms ease-out;

      &:hover {
        transform: scale(1.5);
      }

      &.check {
        fill: green;
      }
    }
  }
}
